<div class="signup center-vertical">
  <h1>Sign Up</h1>
  <form action="/signup" method="post">
    <div class="">
      <div class="inputs">
        <input class="" type="text" name="name" placeholder="Enter your name"><br>
        <input class="" type="password" name="password" placeholder="Password"><br>
        <input class="" type="password" name="password_confirmation" placeholder="Confirm Password"><br>
      </div>
      <div class="">
        <input class="" type="submit" value="Sign Up">
      </div>
    </div>
  </form>
<div>