body {
  background-color: rgba(242, 242, 242);
  color: rgba(107, 100, 93);
  font-family: "Roboto";
}

h1 {
  font-family: 'Pacifico',
    cursive;
}

nav {
  height: 90px;
  padding-top: 15px;
}

nav * {
  margin: 0px;
}

td {
  vertical-align: middle !important;
}

.navbar-item {
  text-align: end;
}

.bg-brown {
  background-color: rgba(107, 100, 93);
  color: rgba(242, 242, 242);
  border: none;
}

.bg-red {
  background-color: rgba(255, 105, 105);
  color: rgba(242, 242, 242);
  border: none;
}

.bg-white {
  background-color: rgba(242, 242, 242);
  color: rgba(107, 100, 93);
  border: none;
}

.bg-yel {
  background-color: rgba(255, 203, 45);
  color: rgba(107, 100, 93);
  border: none;
}

a.bg-brown:hover {
  color: rgba(255, 203, 45) !important;
}

a.bg-red:hover {
  color: rgba(107, 100, 93);
}

a.bg-white:hover {
  color: rgba(255, 105, 105);
}

a.bg-yel:hover {
  background-color: rgba(255, 105, 105);
  color: rgba(242, 242, 242);
}


.btn-like {
  padding: 10px 20px !important;
  border-radius: 15px;
  font-size: 1rem;
}

.brown-box {
  background-color: rgba(107, 100, 93);
  color: rgba(242, 242, 242);
  min-width: 300px;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

::placeholder {
  color: rgba(242, 242, 242, 0.702);
}

.brown-box h1 {
  margin-top: 0px;
  margin-bottom: 30px;
}

.brown-box input {
  background-color: rgba(107, 100, 93);
  color: rgba(242, 242, 242);
  width: 80%;
  border: none;
  box-shadow: inset 0px 2px 2px 3px rgba(75, 67, 59, .3);
  border-radius: 5px;
  padding: 10px 20px;
  /* border-bottom: solid 2pxrgba(255,203,45); */
  margin-bottom: 20px;
}

.brown-box input[type="button"] {
  width: auto;
  box-shadow: inset 0px 2px 2px 3px rgba(75, 67, 59, .3);

}

.brown-box input[type="submit"] {
  background-color: rgba(255, 105, 105);
  box-shadow: 0px 2px 2px 3px rgba(107, 100, 93);
}

.post-container {
  overflow: hidden;
}

.card {
  width: 18rem;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  word-break: break-all;
  border: none;
  box-shadow: 2px 2px 10px 2px rgba(107, 100, 93, 0.1);
  float: left;
}

.title-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.badge-color {
  background-color: rgba(107, 100, 93);
  color: rgba(242, 242, 242);
}

.ctbt-1 {
  background-color: rgba(255, 154, 162, 1);
}

.ctbt-2 {
  background-color: rgba(199, 206, 234, 1);
}

.ctbt-3 {
  background-color: rgba(255, 218, 193, 1);
}

.ctbt-4 {
  background-color: rgba(181, 234, 215, 1);
}

.ctbt-5 {
  background-color: rgba(255, 255, 216, 1);
}

.ctbt-6 {
  background-color: rgba(237, 254, 254, 1);
}